In [2]:
!pip install squarify

Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime
from sqlalchemy import create_engine, engine

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import plotly.express as px
import plotly.graph_objects as go
import squarify



import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{0:,.2f}'.format)

In [6]:
df = pd.read_csv('dataset/cleaned_df.csv', index_col=0)  
df.head()

,id,income,wines,fruits,meat,fish,sweets,gold,customers_engagement,age,kids,total_amount_spent,marital_status,education
0,5524,"58,138.00",635,88,546,172,88,88,2,57,0,1617,Single,PG
1,2174,"46,344.00",11,1,6,2,1,6,0,60,2,27,Single,PG
2,4141,"71,613.00",426,49,127,111,21,42,1,49,0,776,In relationship,PG
3,6182,"26,646.00",11,4,20,10,3,5,0,30,1,53,In relationship,PG
4,5324,"58,293.00",173,43,118,46,27,15,0,33,1,422,In relationship,PG

### Calculate RFM Metrics